.homeContainer{
    background-color: #141414;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.cardContainer {
    width: 100%;
}
        
.cardTitle {
    padding: 1rem;
    font-size: 2rem;
    color: #CF7792;
}

.cardIcon {
    color: #B54063;
}
        
.cardText {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}
        
@media(max-width: 765px) {
    .homeContainer {
        flex-direction: column;
    }
}